*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* GERAL ----------------------------------------------*/

body {
    background-color: #EAEAEA;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-size: 20px;
    margin: 0 0 20px 0;
}

li {
    font-family: "Roboto", sans-serif;
    font-weight:300;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
}

ul, ol {
    margin: 40px 10px 0 0;
    font-size: 16px;
    list-style-position:outside;
}

p {
    margin: 5px;
    font-size: 16px;
}

.container {  
    background-color: #EAEAEA;  
    width: min(90vw, 1150px);  
    margin: auto;
    margin-top: -19rem;                      
}

header {
    padding: 0;
    width: min(70%);
    margin: auto;
    text-align: right;

}

header img {
    padding: 0;
    max-height: 300px;
    max-width: 600px;
    object-fit: cover;
    margin: auto;
    width: min(70%);
    
}



/*CABEÇALHO------------------------------------------*/

.cabecalhoreceita {
    margin: 60px 20px 0px 20px;
    padding: 50px 0px 10px 0px;
    background-color: #FFFFFF;
    border-radius: .35rem .35rem 0 0;

}

figure {
    border-radius: .40rem;
    display: block;
    padding: auto;
    margin: 30px 30px 30px 30px;
    text-align: right; 
    
}

figure img {
    border-radius: .40rem;
    display: block;
    max-height: 300px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit:cover;       /*corta a imagem para conte-la*/
}



figurecaption {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: smaller;
}



/*CONTEUDO DA RECEITA---------------------------------*/

main {
    margin: 0px 350px 90px 350px;
    padding: 20px 10px 10px 10px;
    border-radius: 0 0 .35rem .35rem;
    background-color: white;

}

.conteudoreceita {
    
    align-content: center;
    margin: 0px 20px 30px 20px;
    padding: 10px 10px 50px 5px;
    background-color:white;
}

.ingredientes {
    padding: 10px 10px 30px 10px;
}

.modopreparo {
    padding: 10px 10px 30px 10px;
}

.infoadicional {
    margin: 30px 0 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


/*RODAPÉ---------------------------------------------*/

footer {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin: 0 0 10px 0;
    text-align: center;
}

